@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* CSS VARIABLES */
:root {
  --main-black: #3a3a3a;
  --dark-purple: #453c7b;
  --light-purple: #d8d8ff;
  --light-gray: #eaeaea;
  --lighter-gray: #f6f6f6;
  --dark-blue: #06021e;
  --error-red: #ff0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

li,
a,
button {
  color: var(--main-black);
  text-decoration: none;
  list-style-type: none;
}

h3,
p {
  color: var(--main-black);
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 2%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  font-weight: 700;
  font-size: 24px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

button {
  margin-left: 20px;
  padding: 7px 25px;
  background-color: #fff;
  border-color: var(--main-black);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:last-child {
  padding: 9px 25px;
  color: #fff;
  background-color: #453c7b;
  border: none;
}

button:hover {
  background-color: #fff;
  color: var(--main-black);
  border: 1px solid var(--main-black);
  transition: 0.7s ease;
}

.btn.cta.login {
  background-color: #fff;
  color: var(--main-black);
  border: 1px solid var(--main-black);
}

.profile-icon img {
  max-width: 30px;
  border-radius: 50%;
}

/* SEARCH SECTION */
.search {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}

.search-headline {
  text-align: center;
  margin-bottom: 40px;
}

.search__headline-text h1 {
  margin-bottom: 15px;
}

.search__headline-text span {
  color: var(--dark-purple);
}

.search-box {
  width: 700px;
  height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-box h3 {
  font-size: 14px;
  font-weight: 400;
}

.search-box span {
  font-size: 12px;
}

.category-box {
  color: var(--main-black);
  background-color: var(--light-gray);
  width: 150px;
  height: 30px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.condition-box {
  color: var(--main-black);
  background-color: var(--light-gray);
  width: 130px;
  height: 30px;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.search-input {
  display: flex;
  margin-top: 25px;
}

.search-input input {
  background-color: var(--light-gray);
  border: none;
  height: 30px;
  width: 300px;
  padding: 20px;
  outline: none;
}

.search__input-icon {
  background-color: var(--dark-purple);
  color: #fff;
  height: 30px;
  padding: 20px 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

select#catg,
select#condt {
  border: none;
  background-color: var(--light-gray);
  outline: none;
  cursor: pointer;
}

/* FEATURED SECTION */
.featured {
  margin: auto;
}

.section-title {
  margin-left: 35px;
}

.featured-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.featured-box {
  margin: 20px;
  max-width: 46%;
  cursor: pointer;
}

.featured-box img {
  max-width: 100%;
}

.featured-box h3 {
  margin: 20px 0 10px 0;
}

/* BEST SELLERS SECTION */
.best-sellers {
  margin-top: 100px;
}

.best__sellers-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.best__sellers-box {
  max-width: 100%;
  margin: 33.3px;
  border: 1px solid var(--light-gray);
  cursor: pointer;
}

.best__sellers-box img {
  max-width: 100%;
}

.best__sellers-box-text {
  padding: 15px;
}

.best__sellers-box-text h5 {
  font-weight: 400;
  font-size: 14px;
}

.best__sellers-box-text p {
  padding: 10px 0 10px 0px;
  font-size: 12px;
}

hr.solid {
  border-top: 1px solid var(--light-gray);
  max-width: 100%;
  margin: auto;
}

.best__sellers-box-author {
  margin-top: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best__sellers-box-author p {
  font-size: 14px;
}

.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 100px 0;
}

.show-more button {
  background-color: #fff;
  border: 1px solid #000;
  color: var(--main-black);
  border-radius: 0;
  margin-left: 0;
}

.show-more button:hover {
  background-color: var(--dark-purple);
  color: #fff;
  transition: 0.7s ease;
}

/* NEWSLETTER SECTION */
.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  background-color: #ebebeb;
}

.newsletter-text {
  margin-bottom: 20px;
  text-align: center;
}

.newsletter-text h3 {
  margin-bottom: 10px;
}

.newslettter-input {
  display: flex;
  flex-direction: column;
}

.newslettter-input input:first-child {
  padding: 10px 0px 10px 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.newslettter-input label {
  color: var(--main-black);
}

button.newsletter-btn {
  background-color: #fff;
  border: 1px solid #000;
  color: var(--main-black);
  border: none;
  border-radius: 0;
  margin-top: 20px;
  margin-left: 0;
}

/* FOOTER */
.footer {
  background-color: var(--lighter-gray);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer .social a {
  margin: 0 10px;
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773ea;
}

.fa-instagram:hover {
  color: #b32e87;
}

.fa-twitter:hover {
  color: #1c9cea;
}

/* RESULTS PAGE  */
.results__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.results__box {
  display: flex;
  /* align-items: center; */
  border: 1px solid var(--light-gray);
  margin-bottom: 30px;
  width: 95%;
}

.results__box:first-child {
  margin-top: 30px;
}

.results__box img {
  max-height: 300px;
}

.results__box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px;
  line-height: 2;
  width: 50%;
}

.results__box-info p {
  color: var(--main-black);
}

/* AUTHOR PAGE */
.page-nav {
  margin: 30px 0 20px 20px;
}

.page-nav a {
  padding-right: 15px;
}

.page-nav i {
  font-size: 12px;
  padding-right: 15px;
}

.results-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 30px 20px;
}

.total-results h3 {
  font-size: 22px;
  font-weight: 400;
}

.sort-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-list-border {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-gray);
  padding: 8px 14px;
  margin-left: 20px;
  cursor: pointer;
}

.sort-list-border a {
  font-size: 14px;
}

.sort-list i {
  margin-left: 20px;
}

.purple-divider {
  margin-bottom: 30px;
}

.purple-divider.profile-divider {
  margin-top: 70px;
}

/* AUTHORS SECTION */
.authors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.authors-box {
  display: flex;
  max-width: 1000px;
  border: 1px solid var(--light-gray);
  padding: 20px 30px;
  margin-bottom: 20px;
}

.authors-box img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.authors-desc h3 {
  margin-bottom: 20px;
  font-weight: 500;
}

.about-author {
  font-size: 14px;
  color: var(--main-black);
}

.authors-desc hr {
  margin: 20px 0;
  border: 1px solid var(--light-gray);
}

.total-books {
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

/* ABOUT PAGE */
/* WHO WE ARE SECTION */
.who-we-are {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding-bottom: 50px;
  background-color: var(--light-purple);
}

.who-desc {
  max-width: 50%;
}

.who-desc h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.who-desc p {
  margin-bottom: 20px;
}

.who-we-are img {
  max-width: 500px;
}

/* HOW IT WORKS SECTION */
.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0 80px 0;
  background-color: #fff;
}

.how-desc {
  text-align: center;
  padding: 20px 0 50px 0;
}

.how-desc h3 {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* WHY US SECTION */
.why-us {
  padding: 30px 0 50px 0;
  background-color: #222f3e;
}

.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-us h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 30px;
}

.why-us h3,
li {
  color: #fff;
}

.why-us-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}

.why-us-list li {
  padding: 10px;
  font-weight: 300;
}

.why-us-list li i {
  font-size: 24px;
  padding-right: 10px;
}

/* ABOUT FOOTER */
.about-footer {
  background-color: var(--dark-blue);
}

.about-footer h1 {
  color: #fff;
}

.about-footer p {
  color: #fff;
}

.about-footer a {
  color: #fff;
}

/* REGISTRATION PAGE */
.registration-container {
  max-width: 100%;
  height: 100vh;
  display: flex;
}

.registration-left {
  width: 50%;
  padding: 30px;
}

.registration-right {
  width: 50%;
  position: relative;
  text-align: center;
  color: white;
}

.registration-right img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.registration-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-top h3 {
  font-weight: 400;
}

.registration-top p a {
  color: var(--dark-purple);
  font-weight: 600;
}

.registration-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}

.registration-field h6 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.registration-field-text {
  margin-bottom: 30px;
}

.registration-field p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-fields i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  color: var(--main-black);
  min-width: 50px;
  text-align: center;
}

.input-fields input {
  margin-bottom: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  border: none;
  background-color: var(--light-gray);
}

.field-radio {
  margin-left: -80px;
}

.field-radio label:first-child {
  margin-right: 20px;
}

.register-btn {
  margin: 30px auto;
  border-radius: 5px;
}

.register-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.register-social span {
  margin-right: 20px;
}

.register-social a {
  padding-right: 20px;
}

.registration-logo {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  color: #fff;
}

/* BOOK PAGE */
.book-container {
  display: flex;
  margin: 10% 0px 0px 20px;
}

.book-container img {
  max-height: 400px;
}

.book-desc {
  padding-left: 40px;
  line-height: 2;
}

.book-desc i {
  font-size: 24px;
  margin: 20px 0;
}

.book-title {
  font-size: 24px;
}

.author-name {
  font-size: 18px;
  font-weight: 500;
}

.book-buy {
  display: flex;
  margin-top: 55px;
}

.book-buy-box {
  margin-right: 20px;
  padding: 20px;
  width: 300px;
  height: 100px;
  border: 1px solid var(--light-gray);
  cursor: pointer;
}

.book-buy-box.active {
  border: 1px solid var(--dark-purple);
}

.book-buy-box p {
  font-size: 14px;
}

.add-to-cart {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin: 40px 0 60px 0;
}

.add-to-cart button {
  border-radius: 0;
}

.book-to-cart button {
  background-color: #fff;
  border: 1px solid var(--main-black);
  color: var(--main-black);
}

.quantity {
  padding: 5px;
  width: 100px;
}

.book-about {
  margin-left: 20px;
}

.book-about hr {
  border-top: 1px solid var(--light-gray);
}

.book-about h3 {
  padding: 20px 0;
  font-weight: 500;
  cursor: pointer;
}

.book-about i {
  padding-left: 10px;
  color: var(--main-black);
}

/* PROFILE PAGE */
.profile__books {
  display: flex;
  /* justify-content: center; */
}

.profile__books-nav {
  display: flex;
  cursor: pointer;
  margin-left: 35px;
}

.profile__books-nav a:first-child {
  margin-right: 30px;
}

.profile__books-nav a {
  font-size: 18px;
  font-weight: 400;
  color: var(--main-black);
}

a.nav-active {
  color: var(--dark-purple);
  padding-bottom: 3px;
  border-bottom: 2px solid var(--dark-purple);
}

.invoice {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.invoice-box {
  width: 200px;
  padding: 30px;
}

.invoice span {
  margin-right: 95px;
}

.invoice-icon-box {
  padding: 3px 65px;
  background-color: var(--dark-purple);
  color: #fff;
  cursor: pointer;
}

.loan-payment {
  width: 200px;
  padding: 10px 30px 30px 30px;
}

.loan-payment-box {
  padding: 3px 10px;
  border: 1px solid var(--light-gray);
  color: var(--main-black);
  cursor: pointer;
}

p.loan-amount {
  font-weight: 500;
}
